*{
    background-color: rgb(150, 205, 214);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0px;
}

.header{
    font-size:xx-large;
    margin: 2rem;
}

.main-container{
    font-size: x-large;
    padding: 1rem;
}

.btn{
    background-color: rgb(112, 181, 245);
    text-decoration-color: blueviolet;
    border-radius: 15px;
    padding-inline: 1rem;
}

.btn:hover{
    background-color: rgb(68, 159, 219);
}

.text-input{
    border-radius: 20px;
    background-color: rgb(219, 237, 240);
}

.output-container{
    margin: 1rem;
}

.footer{
    margin: 2rem;
}